.buttonSeeMore {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
}
    button {
        width: 70%;
        background: #5f5f5f;
        /* background: -webkit-linear-gradient(to right, #021B79, #0575E6);
        background: linear-gradient(to right, #021B79, #0575E6); */
        border-radius: 5px;
        height: 30px;
        border: hidden;
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
        color: #d6d4d4;
        text-shadow: -1px 1px 10px #060606d5;
        text-decoration: none;
    }

    button:hover {
        cursor: pointer;
        background: #0033ff;
        /* background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
        background: linear-gradient(to right, #2a0845, #6441A5); */

    }
